<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Parallax Moon
    link(rel="stylesheet", href="../css/main.css")
  body
    .main
      .moon-group
        .moon
        .moon-shadow
      .cloud-group-1
        .cloud.cloud-1
        .cloud-shadow
      .cloud-group-2
        .cloud.cloud-2
        .cloud-shadow
      .stars
        - for (var i = 1; i <= 50; i++)
          .star
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js")
    script(src="../app.js")