html {
  background: #1c2f36;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body * {
  position: absolute;
}

.main {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin: 0;
  background-color: #304d5b;
  width: 400px;
  height: 400px;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  position: absolute;
}

.moon-group {
  width: 200px;
  height: 200px;
  top: 100px;
  left: 100px;
  z-index: 3;
}

.moon {
  position: absolute;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  right: -30px;
  top: -30px;
  box-shadow: -45px 45px 0 40px #ffd7a3;
  z-index: 2;
}

.moon-shadow {
  position: absolute;
  width: 200px;
  height: 215px;
  transform: rotate(225deg);
  background-color: rgba(28, 47, 54, 0.4);
  top: 100px;
  left: 100px;
  clip-path: polygon(0% 0%, 100% 0, 65% 50%, 85% 100%, 0% 100%);
  z-index: 1;
}

.cloud-group-1 {
  width: 170px;
  height: 35px;
  bottom: 100px;
  left: 50px;
  z-index: 4;
}

.cloud-group-2 {
  width: 170px;
  height: 35px;
  top: 140px;
  left: 120px;
  z-index: 2;
}

.cloud {
  background-color: #7eacc4;
  width: 170px;
  height: 35px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 2;
}
.cloud:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #7eacc4;
  top: -15px;
  right: 20px;
  box-shadow: -40px -10px 0 8px #7eacc4, -80px -5px 0 1px #7eacc4;
}

.cloud-group-1 .cloud-shadow {
  top: 35px;
  right: -125px;
  z-index: 3;
}

.cloud-group-2 .cloud-shadow {
  top: 35px;
  right: -125px;
  z-index: -1;
}

.cloud-shadow {
  position: absolute;
  height: 250px;
  width: 170px;
  transform: skew(45deg);
  background-color: rgba(28, 47, 54, 0.3);
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  z-index: 1;
  height: 400px;
  width: 400px;
}
.stars .star {
  border-radius: 50%;
  background-color: #ffedd6;
  opacity: 0.75;
}
.stars .star:nth-of-type(1) {
  top: 21px;
  left: 249px;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(2) {
  top: 117px;
  left: 263px;
  width: 5px;
  height: 5px;
}
.stars .star:nth-of-type(3) {
  top: 20px;
  left: 259px;
  width: 6px;
  height: 6px;
}
.stars .star:nth-of-type(4) {
  top: 355px;
  left: 282px;
  width: 5px;
  height: 5px;
}
.stars .star:nth-of-type(5) {
  top: 182px;
  left: 199px;
  width: 5px;
  height: 5px;
}
.stars .star:nth-of-type(6) {
  top: 131px;
  left: 300px;
  width: 5px;
  height: 5px;
}
.stars .star:nth-of-type(7) {
  top: 144px;
  left: 85px;
  width: 7px;
  height: 7px;
}
.stars .star:nth-of-type(8) {
  top: 271px;
  left: 347px;
  width: 8px;
  height: 8px;
}
.stars .star:nth-of-type(9) {
  top: 153px;
  left: 358px;
  width: 8px;
  height: 8px;
}
.stars .star:nth-of-type(10) {
  top: 231px;
  left: 240px;
  width: 10px;
  height: 10px;
}
.stars .star:nth-of-type(11) {
  top: 370px;
  left: 371px;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(12) {
  top: 308px;
  left: 281px;
  width: 6px;
  height: 6px;
}
.stars .star:nth-of-type(13) {
  top: 160px;
  left: 298px;
  width: 8px;
  height: 8px;
}
.stars .star:nth-of-type(14) {
  top: 13px;
  left: 172px;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(15) {
  top: 301px;
  left: 225px;
  width: 10px;
  height: 10px;
}
.stars .star:nth-of-type(16) {
  top: 47px;
  left: 307px;
  width: 8px;
  height: 8px;
}
.stars .star:nth-of-type(17) {
  top: 20px;
  left: 257px;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(18) {
  top: 65px;
  left: 386px;
  width: 7px;
  height: 7px;
}
.stars .star:nth-of-type(19) {
  top: 368px;
  left: 171px;
  width: 8px;
  height: 8px;
}
.stars .star:nth-of-type(20) {
  top: 307px;
  left: 15px;
  width: 10px;
  height: 10px;
}
.stars .star:nth-of-type(21) {
  top: 279px;
  left: 296px;
  width: 2px;
  height: 2px;
}
.stars .star:nth-of-type(22) {
  top: 37px;
  left: 165px;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(23) {
  top: 278px;
  left: 331px;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(24) {
  top: 21px;
  left: 47px;
  width: 9px;
  height: 9px;
}
.stars .star:nth-of-type(25) {
  top: 328px;
  left: 88px;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(26) {
  top: 136px;
  left: 149px;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(27) {
  top: 198px;
  left: 22px;
  width: 7px;
  height: 7px;
}
.stars .star:nth-of-type(28) {
  top: 140px;
  left: 371px;
  width: 6px;
  height: 6px;
}
.stars .star:nth-of-type(29) {
  top: 332px;
  left: 342px;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(30) {
  top: 377px;
  left: 180px;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(31) {
  top: 333px;
  left: 175px;
  width: 7px;
  height: 7px;
}
.stars .star:nth-of-type(32) {
  top: 157px;
  left: 132px;
  width: 10px;
  height: 10px;
}
.stars .star:nth-of-type(33) {
  top: 13px;
  left: 158px;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(34) {
  top: 91px;
  left: 120px;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(35) {
  top: 209px;
  left: 89px;
  width: 8px;
  height: 8px;
}
.stars .star:nth-of-type(36) {
  top: 188px;
  left: 117px;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(37) {
  top: 162px;
  left: 381px;
  width: 2px;
  height: 2px;
}
.stars .star:nth-of-type(38) {
  top: 311px;
  left: 108px;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(39) {
  top: 299px;
  left: 293px;
  width: 10px;
  height: 10px;
}
.stars .star:nth-of-type(40) {
  top: 355px;
  left: 257px;
  width: 6px;
  height: 6px;
}

/*# sourceMappingURL=main.css.map */
